name: Execute Kubectl apply
# cd
on:
  workflow_dispatch:
  #push:
  #  branches:
  #    - main

jobs:
  k8s:
    name: 'Azure Kubernetes Service Deployment'
    runs-on: ubuntu-latest
    environment: production
 
    defaults:
      run:
        shell: bash

    steps:
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4
        
    - name: Connection to cluster
      run: |
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> /home/runner/.bashrc
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        sudo apt-get install build-essential
        brew install Azure/kubelogin/kubelogin
        az account set --subscription 86f76907-b9d5-46fa-a39d-aff8432a1868
        az aks get-credentials --resource-group ${{ vars.RESOURCE_GROUP_NAME }} --name ${{ vars.KUBERNETES_CLUSTER_NAME }} --overwrite-existing
        kubelogin convert-kubeconfig -l azurecli
        kubectl apply -f kubernetes/. -n ns-plopez
        kubectl describe svc proyectofinal-service -n ns-plopez
        kubectl get service ingress-nginx-controller --namespace=ingress-nginx


